
<!-- style="background-color: rgb(70, 160, 160);" -->
<nav class=" navbar  sticky-top navbar-expand-lg navbar-dark bg-info" >
    <a class="navbar-brand" href="https://amishraj.github.io/lyriceum">Lyriceum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" style="margin-right: 5px;">
          <a class="nav-link active" (click)="callhome()" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" (click)="calllyrics()" href="#">Lyrics <span class="sr-only">(current)</span></a>
        </li> -->
        <li class="nav-item">
          <span (click)="calllyrics()" class="yourl nav-link">Your Lyriceum <span class="sr-only">(current)</span></span>
        </li>
        <li class="nav-item">
            <a data-toggle="modal" data-target="#exampleModal" class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
          </li>
         
      </ul>
      <div *ngIf="!selecting && showtogglebtn" class="col-auto"> <button class="btn btn-light" (click)="sendtoggle('notselecting')" >Start Selecting</button></div>
          <div *ngIf="selecting && showtogglebtn" class="col-auto"> <button class="btn btn-dark" (click)="sendtoggle('selecting')" > Stop Selecting</button></div>

      <div class="dropdown">
      <form class="form-inline my-2 my-lg-0 " >
        
     
        <div class="dropdown">     <!-- <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
      Button dropdown <span class="caret"></span>
    </button> -->
    <!-- <button #dropdownfakebtn data-toggle="dropdown" class="btn btn-primary">Fake Button</button> -->
    <input 
    class="input-large search-query form-control mr-sm-2"
    [(ngModel)]="searchword" 
    type="text"
     placeholder="Search Songs"
     data-toggle="dropdown"
      aria-label="Search"
      (input)="sendsearch()"
      (keydown.backspace)="backspacefunction()"

   [ngModelOptions]="{standalone: true}">
   
   <div [hidden]="hidedropdown" class="dropdown-menu  dropdown-menu-right" aria-labelledby="dropdownMenuButton">
    <li (click)="gotolyrics(song.artists[0].name, song.name, song.album.images[0].url, song.external_urls.spotify)" 
     *ngFor="let song of result_songs" >
     <div class="row">
     
       <div class="col">
        <a class="dropdown-item" href="#">
          <img class="rounded" src={{song.album.images[2].url}} style="max-height: 30px; max-width: 30px;" alt="">
          {{song.name}}- {{song.artists[0].name}}
         </a>
       </div>
       
     </div>
     
    </li>  
    </div>
  </div>

        <!-- <button (click)="sendsearch()" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->

      </form>

    </div>
    </div>
  </nav>

<!--About Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">About Lyriceum</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Admit it, we all have a secret place where we copy & paste our favorite lyrics. But wouldn't it be easier to just have it all in one place?
        <br>
      <span class="d-flex justify-content-center"> <b> Welcome to Lyriceum </b> </span>
       <hr>
      </div>
      
        <div style="float:left;" class=" d-flex justify-content-center card-subtitle text-muted">Developed by Amish Raj & Utkarsh Agnihotri</div>
        <!-- <button type="button" class="btn btn-info" data-dismiss="modal">Close</button> -->
     <br>
    </div>
  </div>
</div>

  <!-- <button type="button" class="btn btn-primary" (click)="dropdown.show()">Show</button>
  <button type="button" class="btn btn-primary" (click)="dropdown.hide()">Hide</button> -->
  <!-- <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <input data-toggle="dropdown" type="text">
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li  *ngFor="let song of result_songs" ><a class="dropdown-item" href="#">{{song.name}}- {{song.artists[0].name}}</a></li>  
    </div>
  </div> -->

