.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }
  
  img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }

  img.shadowclass{
    width: 50px;
    height: 50px;
    background-color: #1d1d1d;
    border-radius:50%;
    box-shadow: 0 0 0 1px #1d1d1d;
  }

  .input-mysize { width: 150px }

  input.search-query {
    background-color:rgb(255, 255, 255);
    color: black;
}

.navbar {
    -webkit-box-shadow: 0 6px 6px -6px rgb(90, 90, 90);
    -moz-box-shadow: 0 6px 6px -6px rgb(90, 90, 90);
    box-shadow: 0 6px 6px -6px rgb(90, 90, 90);

  
}

span.yourl{
  cursor: pointer;
}