
<div class="row">
    <div class="card text-white bg-info mb-3" style="margin-right: 27px; margin-left: 27px; margin-bottom: 27px;">
        <div class="card-header">
            <div class="row">
           <div class="col"> <h5>{{song}}</h5> </div>
           <div class="col-auto">
                <button type="button" (click)="deleteLyric(song, lyric)" class="close pull-right" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            </div>
        </div>
        <div class="card-body">
          <p class="card-text">{{lyric}}</p>
          <!-- <a href="#" class="card-link">Archive</a> -->
        </div>
      </div>
    </div>
