<div class="card">
    <div class="card-header"> 
        
        <div class="row">
            <div class="col align-middle text-center">Saved Lyrics </div>
            <div class="col-auto">
              <button (click)="goSaved()" class="btn btn-primary btn-sm">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
              
            </button></div>
        </div></div>
    <div class="card-body">
      <app-sidenote></app-sidenote>
      <app-sidenote></app-sidenote>
      <app-sidenote></app-sidenote>
      <app-sidenote></app-sidenote>
      <app-sidenote></app-sidenote>
      <app-sidenote></app-sidenote>
      <app-sidenote></app-sidenote>
      <app-sidenote></app-sidenote>
      <app-sidenote></app-sidenote>
      <app-sidenote></app-sidenote>
    </div>
  </div>