<app-header></app-header>
<div class="container"> <!--First Display-->
  
    <!-- <div class="row" [hidden]="!firstdisplay">
        <div class="col-9"><button (click)="gotolyrics()" class="btn btn-primary">Lyrics page</button>   </div>
        
        <div class="col-3"> <app-savedlyricsbar></app-savedlyricsbar> </div>
    </div>

    <div class="row" [hidden]="firstdisplay">
        <div class="col-9"><app-song></app-song><button (click)="gotolyrics()" class="btn btn-primary">Home page</button>   </div>
        
        <div class="col-3"> <app-savedlyricsbar></app-savedlyricsbar> </div>
    </div>

    <div class="row">
        <div class="col-9"><app-savedlyricspage></app-savedlyricspage>
            <button (click)="showmylyrics()" class="btn btn-primary">My Lyrics page</button>   </div>        
    </div> -->
</div>

<div class="flex-wrapper">
    <div class="container">
        <br>
        <div class="row">
            <div [hidden]="!showhome" class=" col-9"><app-home></app-home></div>
            <div [hidden]="!showlyrics" class="col-9"><app-song></app-song></div>
            <div [hidden]="!savedbar" class=" col-3"><app-savedlyricsbar></app-savedlyricsbar></div>

            <!-- <div [hidden]="!showhome" class=" d-lg-none col-12"><app-home></app-home></div> -->
            <!-- <div [hidden]="!showlyrics" class=" d-lg-none col-12"><app-song></app-song></div> -->
            <div [hidden]="!showsavedlyrics" class="col-12"><app-savedlyricspage></app-savedlyricspage></div>
    
        </div>
    
    </div>
    <div class="footer">
        <app-footer></app-footer></div>
  </div>
