<div class="card bg-dark text-white" >
   <div class="crop-height flip">
      <img class="card-img scale flip" style="filter: brightness(60%)" src={{imageelement}} alt="Card image">
    </div>
    <div class="card-img-overlay">
      <h5 class="card-title">{{songelement}}</h5>
      <p class="card-text">
          {{artistelement}}</p>

          <i class="fab fa-spotify"></i> &nbsp;
          <a class="text-white" target="_blank" href={{linkelement}}>Listen on Spotify</a>
      <!-- <p class="card-text">ASTROWORLD</p> -->
    </div>
  </div>

  <br>
<!-- 
  <figure>
    <div class="crop-height flip">
      <img class="scale flip" src={{imageelement}} />
    </div> 
    <figcaption>
      There's the happy couple! This crops from the top (unless you're using IE8 or lower.)
    </figcaption>
  </figure> -->